.form {
  .wpcf7 {
    max-width: 768px;
    margin: 0 auto;
  }
  &-must {
    &::after {
      content: "※";
      color: #ff8811;
      font-size: 10px;
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;
    }
  }
  &__table {
    tr {
      th,
      td {
        @include media-breakpoint-down(md) {
          display: block;
          padding: 0;
          margin-bottom: 0.5rem;
        }
      }
      td {
        @include media-breakpoint-down(md) {
          margin-bottom: 1.5rem;
        }
      }
      &:last-child {
        td {
          margin-bottom: 0;
        }
      }
    }
  }
}

div.acceptance {
  background-color: $light;
  box-sizing: border-box;
  padding: 1.5rem;
  text-align: center;
  .wpcf7-list-item,
  label {
    margin: 0;
  }
}

.google {
  &-form {
    position: relative;
    max-width: 768px;
    height: 0;
    margin: 0 auto;
    padding-top: 100%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}